:root {
    --color-primary: #0041BE;
    --color-primary-ligth: #004CD8;

    --color-danger: #FF2222;

    --color-gray: #767684;
    --color-gray-light: #B8B7B7;
    --color-gray-lighter: #F9FBFD;
    --color-gray-dark: #09090A;
}