.wrapper {
    max-width: var(--main-wrapper);
    margin: 0 auto;
}

.wrapper>.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: var(--header-size);
}

.wrapper>.main-content>.left {
    padding-top: 48px;
}

.wrapper>.main-content>.right {
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.wrapper>.main-content>.right>.image {
    height: 100%;
    position: absolute;
    min-width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}