.button {
    font-family: var(--font-family-base);
    font-size: calc(var(--font-size-base) + 8px);
    background-color: var(--color-primary);
    color: white;
    font-weight: 800;
    padding: 20px;
    border-radius: 50px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button:hover {
    background-color: var(--color-primary-ligth);
}