.header {
    height: var(--header-size);
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}

.header>.wrapper {
    max-width: var(--main-wrapper);
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.header>.wrapper.-has-user {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

/* Logo */
.header>.wrapper>.logo-wrapper {
    height: var(--header-size);
    padding: 16px 0;
}

.header>.wrapper>.logo-wrapper>.image {
    height: 100%;
}

/* Usuario */
.header>.wrapper>.user-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header>.wrapper>.user-wrapper>.info {
    text-align: right;
}

.header>.wrapper>.user-wrapper>.info>.name {
    display: block;
    font-weight: 800;
    font-size: calc(var(--font-size-base) + 4px);
    margin-bottom: 3px;
}

.header>.wrapper>.user-wrapper>.info>.role {
    display: block;
    font-weight: 400;
    font-size: calc(var(--font-size-base) + 2px);
}

.header>.wrapper>.user-wrapper>.photo {
    margin-left: 12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
    overflow: hidden;
}

.header>.wrapper>.user-wrapper>.photo>img {
    height: 100%;
    width: 100%;
}