.login>.wrapper>.main-content>.left {
    max-width: 450px;
    margin: 0 auto;
}

.login>.wrapper>.main-content>.left>.steps {
    display: block;
    font-weight: 800;
    font-size: calc(var(--font-size-base) + 4px);
    color: var(--color-gray);
    margin-bottom: 13px;
}

.login>.wrapper>.main-content>.left>.main-title {
    font-weight: 800;
    margin-bottom: 40px;

}

.login>.wrapper>.main-content>.left>.main-title>.up {
    font-size: calc(var(--font-size-base) + 38px);
    display: block;
    margin-bottom: 7px;
}

.login>.wrapper>.main-content>.left>.main-title>.down {
    font-size: calc(var(--font-size-base) + 22px);

}

.login>.wrapper>.main-content>.left>.radio-buttons {
    margin-bottom: 42px;
}

.login>.wrapper>.main-content>.left>.radio-buttons>.title {
    font-size: calc(var(--font-size-base) + 8px);
    font-weight: 800;
    margin-bottom: 16px;
}

.login>.wrapper>.main-content>.left>.radio-buttons>.buttons>.radio {
    margin-right: 70px;
}